<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Search Engine Optimization | Information | API</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="{{url_for('static', filename= 'css/main.css') }}" rel="stylesheet" />

    <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="https://solveproblems.netlify.app/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://solveproblems.netlify.app/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://solveproblems.netlify.app/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="https://solveproblems.netlify.app/img/favicon/site.webmanifest">

  </head>
  <body>
    <div class="s130">
      <form action="/" method="post">
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="svg-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
              </svg>
            </div>
            <input id="search" name="url" type="text" placeholder="What are you looking for?" value="shutterstock.com/photos" required />
          </div>
          <div class="input-field second-wrap">
            <button class="btn-search" type="submit">SEARCH</button>
          </div>
        </div>
        <span class="info">ex. neilpatel.com, hashnode.com</span>
      </form>
        <div class="footer">
<MARQUEE>
<FONT FACE="verdana" COLOR="red" SIZE="5">
<B> <img src="https://img.icons8.com/officexs/30/000000/hand-right.png"/> Covid 19 {{ state }} Dashboard Confirmed Indian Cases : {{confirmedCasesIndian}} Discharged : {{ discharged }} Deaths : {{ deaths }}
    Total Confirmed : {{ totalConfirmed }}</B>
</FONT>
</MARQUEE>
    </div>
    </div>
    <script src="{{ url_for('static', filename='js/extention/choices.js') }}"></script>
  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
